.card {
    background-color: white;
    background-image: url('./assets/profile.jpg');
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 5px;
    padding-bottom: 2vh;
}

.name,
.company {
    font-family: sans-serif;
    display: inline-block;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.name {
    font-size: 1.8em;
}

.company {
    font-size: 1em;

}